.header {
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.button {
	height: 6rem;
	background-color: lightblue;
	box-shadow: rgb(132, 164, 175) 3px 3px;
	width: 12rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
}