server {
    listen 8080;
    server_name myserver.com;

    client_max_body_size 100000000;

	 location / {
        root ./index;
        index index.html;
        allow_methods GET;
        directory_listing on;
    }
    location /cgi-bin {
		cgi_pass ./cgitest;
		cgi_extensions .py .php .js;
        allow_methods GET;
    }
	location /delete {
		root ./delete;
		allow_methods GET DELETE;
		directory_listing on;
	}
		location /redirect {
		redirect https://google.com;
	}
}
