server {
    listen 8080;
    host 127.0.0.1;
    server_name myserver.com;

    error_page 404 /errors/404.html;
    client_max_body_size 10;

    location / {
        root .;
        index index.html;
        allow_methods GET POST;
        directory_listing on;
    }

    location /upload {
        root .;
        allow_methods DELETE;
        index html/upload.html;
        upload_store ./uploads;
    }

    location /redirect {
        redirect http://www.youtube.com;
    }
    location /cgi-bin {
        cgi_pass cgi;
        allow_methods GET;
        cgi_extensions .php .py;
    }

}       

server {
    listen 8081;
    host 127.0.0.1;
    server_name myserver.com;

    error_page 404 /errors/404.html;
    client_max_body_size 10;

    location / {
        root .;
        index index.html;
        allow_methods GET POST;
        directory_listing on;
    }

    location /upload {
        root .;
        allow_methods DELETE;
        index html/upload.html;
        upload_store ./uploads;
    }

    location /cgi-bin {
        cgi_pass cgi;
        cgi_extensions .php .py;
    }

    location /redirect {
        redirect http://www.facebook.com;
    }
}       
